---
const today = new Date();
---

<footer class="mt-20">
      <div
        class="w-full h-[1px] bg-gradient-to-r from-bg-dark via-text to-bg-dark my-8 opacity-30"
      ></div>

      <div class="md:grid md:grid-cols-2 md:mx-25 mx-5 md:gap-55">
        <div>
          <h1 class="caption-500-24">Bando Mega Kusuma</h1>
          <p class="caption-500-14 text-text-muted mt-2">
            Learning, building, and sharing software concepts through mental
            models that make coding more accessible.
          </p>
          <div>
            <ul class="flex gap-5 mt-3 md:mt-5">
              <li>
                <a href="mailto:bandomega1@gmail.com">
                  <img
                    src="/images/icons/mail.svg"
                    alt="mail-icon"
                    class="w-6 h-6"
                  />
                </a>
              </li>
              <li>
                <a href="https://t.me/bandomega" target="_blank">
                  <img
                    src="/images/icons/telegram.svg"
                    alt="Telegram"
                    class="w-6 h-6"
                  />
                </a>
              </li>
              <li>
                <a
                  href="https://www.linkedin.com/in/bando-mega-kusuma"
                  target="_blank"
                >
                  <img
                    src="/images/icons/linkedin.svg"
                    alt="LinkedIn"
                    class="w-6 h-6"
                  />
                </a>
              </li>
              <li>
                <a href="https://www.github.com/bando9" target="_blank">
                  <img
                    src="/images/stack/github.svg"
                    class="w-6 h-6"
                    alt="GitHub"
                  />
                </a>
              </li>
              <li>
                <a href="https://www.threads.com/@asliandho" target="_blank">
                  <img
                    src="/images/icons/thread.svg"
                    alt="Thread"
                    class="w-6 h-6"
                  />
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="grid grid-cols-2 mt-10 md:mt-0">
          <div>
            <h3 class="text-text-muted">General</h3>
            <ul class="flex flex-col gap-1 mt-1.5">
              <li><a href="/" class="hover:underline">Home</a></li>
              <li><a href="/about" class="hover:underline">About</a></li>
              <li><a href="/blog" class="hover:underline">Blog</a></li>
              <li><a href="/projects" class="hover:underline">Project</a></li>
              <li><a href="/contact" class="hover:underline">Contact</a></li>
            </ul>
          </div>
          <div>
            <h3 class="text-text-muted">The website</h3>
            <ul class="flex flex-col gap-1 mt-1.5">
              <li><a href="#" class="hover:underline">Bucket List</a></li>
              <li><a href="#" class="hover:underline">Uses</a></li>
              <li><a href="#" class="hover:underline">Attribution</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div
        class="w-full h-[1px] bg-gradient-to-r from-bg-dark via-text to-bg-dark my-8 opacity-30"
      ></div>

      <div class="caption-500-14 text-center text-text-muted mb-8">
        Copyright &copy; {today.getFullYear()}. Bando Mega  All rights reserved.
      </div>
    </footer>
